<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Echo Some Stuff</title>

    <link href="./src/css/style.css" rel="stylesheet" />
</head>
<body>

    <div id="container">
        <div id="left-pane">
            <ul id="buttons-left">
                <li>
                    <a id="show-pic" href="#" class="button-one">Show Picture</a>
                </li>
                <li>
                    <a id="show-direct-quote" href="#" class="button-one">Show Direct Quote</a>
                </li>
                <li>
                    <a id="show-indirect-quote" href="#" class="button-one">Show Indirect Quote</a>
                </li>
                <li>
                    <a id="show-calc" href="#" class="button-one">Calculations</a>
                </li>
                <li>
                    <a id="video" href="#" class="button-one">Don't Stay In School</a>
                </li>
            </ul>
        </div>
    
        <div id="result-box"></div>
    </div>


    <script type="module" src="./src/js/main.js"></script>
</body>
</html>